.hero-section {
    min-height: 100vh;
    background-image: url(../../../public/webp/main/hero-back.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    top: 0;

}

.hero-section::after {
    z-index: 5;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 144px;
    background-color: white;

}

.hero-container {
    position: relative;
    z-index: 90;
    min-height: 100vh;
    backdrop-filter: grayscale(1);
    background-color: #ffffffcf;
}

.container {}

.hero-main {
    padding-top: 22.4rem;
    display: grid;
    place-items: center;

    h5 {
        padding: 0.8rem 2rem;
        background-color: $color1;
    }

    h1 {
        border: 1rem solid $color2;
        padding: 3.2rem 4.6rem;
        text-align: center;
    }

    p.t-1 {
        margin-top: 3rem;
        max-width: 600px;
        text-align: center;
        line-height: 1.6;
    }
}

.hero-history {
    margin-top: 12.4rem;
    display: flex;
    flex-direction: row;
    gap: 12rem;
}

.hero-history-image-wrap {
    max-width: 458px;

    img {
        width: 100%;
        height: 100%;
    }
}

.hero-history-text {
    max-width: 540px;
    display: flex;
    flex-direction: column;
    gap: 2.8rem;

    h3 {
        margin-top: 3rem;
        text-transform: uppercase;
    }

    p {
        line-height: 1.6;

    }
}