@import "./description.scss";
@import "./benefits.scss";
@import "./team.scss";
@import "./testimonials.scss";
@import "./clients.scss";
@import "./media.scss";

.testimonial-clients-section {
    padding: 15rem 0;
}

.testimonial-clients-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 3rem;
    box-sizing: border-box;
}